<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<div class='row'>
  <div class='col-md-5'>
    <h3> Hello World!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ab.</p>
  </div>
  <div class='col-md-5'>
    <h3> Hello World!</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, asperiores?</p>
  </div>
</div>